#weather
    padding: 70px 0
    .box
        background-color: #b07171
        width: 300px
        height: 400px
        border-radius: 25px
        padding: 30px

        h2
            font-size: 22px 
            font-weight: 600
            margin-bottom: 25px
            color: #3b0a23
        input
            border-radius: 25px
        .btn
            background-color: #5c1010
            border-radius: 20px
            margin-top: 15px
            color: #ffff
